@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
body {
  font-family: 'Sen', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}